
// Styles to make the prototype look generally nice. Not to be coupled with
// the actual styles for the script!

@import url('skeleton/base.less');
@import url('skeleton/layout.less');
@import url('skeleton/skeleton.less');
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Merienda+One);
@import url(http://fonts.googleapis.com/css?family=Changa+One);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Damion);


h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #19051A !important;

	&.caps
	{
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&.cursive
	{
		font-family: "Damion";
		letter-spacing:-1px;

		.muted 
		{ 
			// letter-spacing:0px; 
		}
	}

	.muted
	{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 60%;
		opacity: .6;
	}
}

body
{
	color: #06282D !important;
}

a { font-weight: bold; text-decoration: none; color: #FF5482; }

// .centered { text-align: }

hr.light { border-color: rgba(255,255,255, .3);}
hr.dark  { border-color: rgba(  0,  0,  0, .3);}

#header-box
{
	padding: 5% 0 5% 0;
	margin-bottom: 20px;
	background: #aed;
	// border-bottom: 1px solid #FFFDC2;

	header
	{
		padding: 20px 0 0 0;

		h1 { color: #0A464F !important; }
	}

	hr
	{
		padding: 0;
		margin: 0;
	}
}

.triplet
{
	h4
	{
		text-align: center;
		padding: 10px 0;
	}
}

.thumbnail
{
	text-align: center;
	display: block;

	img
	{
		height: 100px;
	}
}

#hero
{
	text-align: center;
	padding: 10% 0;

	h1
	{
		font-family: 'Lato';
		font-weight: 300;
	}
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#header-box
	{
		text-align: center;
		padding: 0;

		h1
		{
			font-size: 30px;
		}
	}

	#hero
	{
		text-align: left;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

// These code styles are from Nathan Borror's site. They're also just generally lovely

code { padding: 4px 4px; background: #eee; font-family: 'Ubuntu Mono', courier, monospace; font-size: 13px; line-height: 17px; color: #555; border-radius: 2px; }
code.output { background: #eee; color: #444; }

pre code { display: block; padding: 10px; margin: 10px 0; background: #0D232C; overflow: auto; color: #fff; }
code.objc { background: #fff; border: 1px solid #ddd; color: #000; }

.light { opacity: .4; }

.red { color: #FF3A83; }
.orange { color: #FFAA00; }
.yellow { color: #EFE900; }
.blue { color: #1E9AE0; }
.green { color: #5FE461; }

.pale-red { color: #EB939A; }
.pale-yellow { color: #F6F080; }
.pale-blue { color: #9EFFFF; }
.pale-green { color: #9DF39F; }