// SETTINGS
// colors
@bubble-background-color:       #eee;
@bubble-background-color-hover: none;
@bubble-color:       #999;
@bubble-color-hover: #000;

// box size and shape
@bubble-padding: 4px 8px;

// text
@default-font: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
@heading-font: @default-font;
@comment-font: @default-font;

span.remark-tally
{
	opacity: .4;
	
	&:not(.inline)
	{
		box-sizing:border-box;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
	
		text-align: right;
		float: left;
	
		position: relative;
		display: inline-block;
	
		width: 60px;
		margin-left: -60px;
		padding-right: 5px;
	}

	a
	{
		font-family: @comment-font;
		font-weight: normal;

		font-size: 12px;
		padding: @bubble-padding;
		margin-top: -3px;
		// border-radius: 60px;
		color: @bubble-color;

		text-decoration: none;
	}

	&.inline
	{
		display: block;
	}

	&.right
	{
		text-align: left;
		float: right;
		margin-left: 0;
		margin-right: -60px;
	}
}

div.remarks
{
	display: block;
	width: 300px;
	background: #fff;
	position: absolute;
	padding: 20px 20px 20px 20px;

	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);

	h1 
	{ 
		font-size: 14px;
		font-family: @heading-font;
		line-height: 14px;
		color: #999;
	}

	.author
	{
		font-weight: bold;
		line-height: 30px;

		img
		{
			height: 20px;
			margin-bottom: -4px;
			border-radius: 2px;
		}

		.link, a
		{
			color: #999;
			font-weight: normal;
			text-decoration: none;
		}

		a:hover { text-decoration: underline; }
	}


	p { margin-bottom: 10px; }

	ul
	{
		max-height: 400px;
		width: 315px;
		overflow: auto;
		margin-bottom: 0;
		margin-top: 10px;

		li
		{
			border-bottom: 1px solid #ccc;
			width: 300px;

			&:last-of-type { border: none; }
		}
	}

	.add-comment
	{
		.required
		{
			border-color: rgba(4, 100, 156, .5);
		}

		textarea 
		{ 
			width: 300px;
			max-width: 300px;
			margin-bottom: 0px;
			box-sizing:border-box;
		}
		
		textarea
		{
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			background: #fff; 
		}

		textarea:focus 
		{
			border: 1px solid #aaa;
	 		color: #444;
			box-shadow:  0 0 3px rgba(0,0,0,.2); 
		}

		textarea {
		min-height: 60px;
		}

		input[type="submit"]
		{ 
			display: block;
			width: 100%;
			text-align: center;
			padding: 10px 20px;
			margin: 10px 0;
			background: rgba(100, 100, 100, 1);
			color: #fff;

			border-radius: 3px;
			border: none;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			-webkit-font-smoothing: antialiased;
			line-height: 21px;

			&:active
			{
				background: #222;
			}

			&:hover
			{
				cursor: pointer;
			}
		}

		.remark-login
		{
			display: block;
			text-align: center;
			padding: 10px 20px;
			margin: 10px 0;
			background: rgba(59, 89, 152, 1);
			color: #fff;
			text-decoration: none;
			border-radius: 3px;

		}

		// text-align: right;
		margin-bottom: 0;
	}




	// arrow stuff...
	&:after, &:before {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #fff;
		border-width: 10px;
		top: 32px;
		margin-top: -10px;
	}

	&:before {
		border-color: rgba(34, 34, 34, 0);
		border-right-color: #aaa;
		border-width: 11px;
		top: 32px;
		margin-top: -11px;
	}
}

div.backdrop
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: ' ';
	background: rgba(0,0,0,0);


}

.remarkable:hover
{
	.remark-tally
	{
		opacity: 1;

		a
		{ 
			&:hover
			{
				background: @bubble-background-color-hover;
				color: @bubble-color-hover;
			}
		}
	}
}