// SETTINGS
// colors
@bubble-background-color:       #eee;
@bubble-background-color-hover: #ccc;
@bubble-changed-background:     #FF5482;
@bubble-color:       #999;
@bubble-color-hover: #fff;

@submit-button-color: #1AAF5D;
@login-button-color:  rgba(59, 89, 152, 1);

// box size and shape
@bubble-padding: 4px 8px;

// text
@default-font: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
@heading-font: @default-font;
@comment-font: @default-font;

// icons
@import url('fontawesome.less');

span.remark-tally
{
	opacity: .4;

	a
	{
		font-family: @comment-font;
		font-weight: bold;

		font-size: 12px;
		padding: @bubble-padding;
		margin-top: -3px;
		border-radius: 3px;
		color: @bubble-color;
		background: @bubble-background-color;

		text-decoration: none;
		-webkit-transition: background-color 1s;
		-webkit-transition: color .5s;

		&.changed
		{
			background: @bubble-changed-background;
			color: #fff;

			&:hover
			{
				background: darken(@bubble-changed-background,10%);
			}
		}

		&:hover
		{
			background: @bubble-background-color-hover;
			color: @bubble-color-hover;
		}
	}
}

div.remarks
{
	box-sizing: border-box;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	background: #fff;
	margin-top: 20px;
	padding: 0;

	border-top: 1px solid #eee;

	h1 
	{ 
		font-size: 14px;
		font-family: @heading-font;
		line-height: 14px;
		color: #999;
	}

	.left_side
	{
		float: left;
		width: 10%;
		box-sizing: border-box;
		padding-right: 10px;

		img
		{
			width: 100%;
			border-radius: 3px;
			// border-top-left-radius: 5px;
			// border-bottom-left-radius: 5px;
		}
	}

	.right_side
	{
		display: block;
		float: left;
		width: 90%;
		box-sizing: border-box;
	}

	.comment-body
	{
		border-top: 1px solid #eee;
		padding-top: 5px;
		line-height: 20px;
	}

	.comment-author
	{
		font-weight: bold;
		// line-height: 10%;
		color: #aaa;
		font-size: 12px;

		.link, a
		{
			color: #999;
			font-weight: normal;
			text-decoration: none;
		}

		a:hover { text-decoration: underline; }
	}


	p { margin-bottom: 10px; }

	ul
	{
		max-height: 400px;
		width: 100%;
		overflow: auto;
		margin-bottom: 0;
		margin-top: 10px;

		li
		{
			width: 100%;
			display: block;
			clear: both;

			&:last-of-type { border: none; }
		}
	}

	.add-comment
	{
		.required
		{
			// border-color: rgba(4, 100, 156, .5);
		}

		textarea 
		{ 
			width: 100%;
			max-width: 100%;
			margin-bottom: 0px;
			box-sizing:border-box;


			border: none;
			padding: 10px;
			outline: none;
			border-radius: 5px;
			font: 14px @default-font;
			color: #777;
			background: #fafafa; 
		}

		textarea:focus 
		{
			border: none;
	 		color: #444;
			// box-shadow:  0 1px 3px rgba(0,0,0,.1); 
		}

		textarea {
			min-height: 20px;
		}

		button
		{ 
			display: block;
			width: 140px;
			box-sizing: border-box;
			float: right;
			text-align: center;
			padding: 11px 0 9px 0;
			margin: 1px 0 10px 10px;
			background: @submit-button-color;
			color: #fff;

			border-radius: 3px;
			border: none;
			font: 13px @default-font;
			-webkit-font-smoothing: antialiased;
			line-height: 20px;

			&:hover
			{
				background: lighten(@submit-button-color, 10%);
			}

			&:active
			{
				background: darken(@submit-button-color, 5%);
			}

			&:hover
			{
				cursor: pointer;
			}

			i { margin-right: 5px; }
		}

		.next-step
		{
			padding: 2px 0;
			display: block;

			&:after
			{
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
		}

		.remark-login
		{
			input[type="text"]
			{
				display: block;
				width: 140px;
				box-sizing: border-box;
				border: 1px solid lighten(#FF5482,20%);
				float: left;
				padding: 10px 5px 8px 5px;
				margin-right: 10px;

				border-radius: 3px;
				font: 13px @default-font;
				-webkit-font-smoothing: antialiased;
				line-height: 20px;

				&:focus
				{
					outline: none;
					border-color: #aaa;
				}
			}
		}



		// text-align: right;
		margin-bottom: 0;
	}

		.homage
	{
		font-size: 10px;
		color: #aaa;
		text-align: right;

		a
		{

			// text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			// letter-spacing: 1px;
			color: #aaa;

			&:hover
			{
				color: #999;
			}
		}
	}

	&:before {
		position: relative;
		width: 0px;
		top: -10px;
		margin: 0 auto;
	    content:" ";
	    display:block;
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;
	    border-bottom: 10px solid #eee; 
    }
}

div.backdrop
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: ' ';
	background: rgba(0,0,0,0);


}

.remarkable:hover
{
	.remark-tally
	{
		opacity: 1;
	}
}