span.remark-tally {
  opacity: .4;
}
span.remark-tally a {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 8px;
  margin-top: -3px;
  border-radius: 3px;
  color: #999999;
  background: #eeeeee;
  text-decoration: none;
  -webkit-transition: background-color 1s;
  -webkit-transition: color .5s;
}
span.remark-tally a.changed {
  background: #ff5482;
  color: #fff;
}
span.remark-tally a.changed:hover {
  background: #ff215d;
}
span.remark-tally a:hover {
  background: #cccccc;
  color: #ffffff;
}
div.remarks {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-top: 20px;
  padding: 0;
  border-top: 1px solid #eee;
}
div.remarks h1 {
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 14px;
  color: #999;
}
div.remarks .info {
  color: #aaa;
  font-size: 12px;
}
div.remarks .author {
  font-weight: bold;
  line-height: 30px;
}
div.remarks .author img {
  height: 20px;
  margin-bottom: -4px;
  border-radius: 2px;
  margin-right: 5px;
}
div.remarks .author .link,
div.remarks .author a {
  color: #999;
  font-weight: normal;
  text-decoration: none;
}
div.remarks .author a:hover {
  text-decoration: underline;
}
div.remarks p {
  margin-bottom: 10px;
}
div.remarks ul {
  max-height: 400px;
  width: 100%;
  overflow: auto;
  margin-bottom: 0;
  margin-top: 10px;
}
div.remarks ul li {
  border-bottom: 1px solid #eee;
  width: 100%;
}
div.remarks ul li:last-of-type {
  border: none;
}
div.remarks .add-comment {
  margin-bottom: 0;
}
div.remarks .add-comment textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font: 14px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  color: #777;
  background: #fafafa;
}
div.remarks .add-comment textarea:focus {
  border: none;
  color: #444;
}
div.remarks .add-comment textarea {
  min-height: 20px;
}
div.remarks .add-comment button {
  display: block;
  width: 49%;
  float: right;
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0;
  background: #1aaf5d;
  color: #fff;
  border-radius: 3px;
  border: none;
  font: 13px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 20px;
}
div.remarks .add-comment button:hover {
  background: #21db75;
}
div.remarks .add-comment button:active {
  background: #179951;
}
div.remarks .add-comment button:hover {
  cursor: pointer;
}
div.remarks .add-comment .remark-login {
  display: block;
  text-align: center;
  float: left;
  width: 49%;
  padding: 10px 0;
  margin: 10px 0;
  background: #3b5998;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  font-weight: normal;
  font: 13px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  line-height: 20px;
}
div.remarks .add-comment .remark-login:hover {
  background: #4c70ba;
}
div.remarks .add-comment .remark-login:active {
  background: #344e86;
}
div.remarks .homage {
  font-size: 10px;
  color: #aaa;
  text-align: right;
}
div.remarks .homage a {
  font-weight: bold;
  text-decoration: none;
  color: #aaa;
}
div.remarks .homage a:hover {
  color: #999;
}
div.remarks:before {
  position: relative;
  width: 0px;
  top: -10px;
  margin: 0 auto;
  content: " ";
  display: block;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #eee;
}
div.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0);
}
body.remark-logged-in .remark-login {
  display: none!important;
}
.remarkable:hover .remark-tally {
  opacity: 1;
}
